body
{
	font-family: sans-serif;
	margin: auto;
	text-align: center;
	background: url('../img/Cafeteria.jpg') rgba(0,0,0,0.5);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;
	color: white;

}

h1,h2
{
	padding: 8px;
	background: rgba(255,0,0,0.8);
	border-radius: 8px;
	margin: 0;
	font-size: 50px;
	font-family: sans-serif;
	text-shadow: 2px 2px #000000;
}
